body { font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif; line-height: 1.6; word-wrap: break-word; padding: 30px; font-size: 16px; color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); overflow: scroll; margin: 5%;}

.directory {
    cursor: pointer;
    list-style-type: disc;
}
.file {
    list-style: circle;
}
.file a {
    padding-top: 5px;
    padding-bottom: 5px;
}

.qcm_item p { margin: 0; padding: 0; display:inline;}
.qcm_check { padding-left: 32px;}
.qcm_radio { padding-left: 32px;} 

blockquote {
    color: #777;
    padding: 1px 2%;
    border-left: 5px solid #ccc;
}

.special-box {
    background: #eee7da;
    margin: 12.5px 12.5px;
    padding: 10px 0 10px 95px; 
    color: #424242;
    min-height: 60px;
}
.special-box::before{
    content: "";
    display: block;
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
    margin: 0px 0 -48px -70px;
}
.information{
    background: #daeaee;
}
.information::before{
    background-image: url("/img/ic_info_black_48px.svg"); 
}
.comment{
    background: #eea;
}
.comment::before{
    background-image: url("/img/ic_comment_black_48px.svg"); 
}
.attention{
    background: #eee7da;
}
.attention::before{
    background-image: url("/img/ic_error_black_48px.svg"); 
}
.question{
    background: #e2daee;
}
.question::before{
    background-image: url("/img/ic_help_black_48px.svg"); 
}
.good{
    background: #aea;
}
.good::before{
    background-image: url("/img/ic_good_black_48px.svg"); 
}
.bad{
    background: #eaa;
}
.bad::before{
    background-image: url("/img/ic_bad_black_48px.svg"); 
}
.secret {
    background: #eee;
    padding: 10px 0 10px 15px;
    min-height: 20px;
}
.hiden_block_quote {
    display: none;
}
table {
  border-collapse: collapse;
  padding: 7px 13px;
}

table, th, td {
    border: 1px solid #dfe2e5;
    padding: 7px 13px;
}
.special-box-content {
    margin-top: 5px;
}
kbd {
    background-color: #f8f6ea;
    padding: 2px 6px;
    border-radius: 3px;
    border: 1px solid #e0dab6;
    border-bottom-width: 3px;
    text-shadow: 0 1px 0 #fff;
    color: #5e551f;
}
.view {
    position: relative;
}
.raw_button {
    position: absolute;
    top:10px;
    right:0;

  margin      : 0;
  padding     : 0;
  border      : 0;
  background  : transparent;
  font-family : inherit;
  font-size   : 1em;
  cursor      : pointer;
}
.raw_button > div {
  width       : 40px;
  height      : 24px;
  background  : rgb(192,192,192) url('image.png') no-repeat center center;
  line-height : 24px;
  border        : 1px solid rgba(27, 31, 35, 0.2);
  border-radius : 3px;
  font-size: 12px;

  color: #24292e;
  background-color: #eff3f6;
  background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.raw_button > div > div {
    font-weight: bold;
}

.no-style {
 text-decoration: none;
}
.valid {
    border: 2px solid #c0392b;
    border-radius: 2px;
    outline: none;
    border-color: #9f9;
    box-shadow: 0 0 5px #9f9;
}
.invalid {

    border: 2px solid #c0392b;
    border-radius: 2px;
    outline: none;
    border-color: #f99;
    box-shadow: 0 0 5px #f99;
}
.glowing {
    border: 2px solid #c0392b;
    border-radius: 2px;
    outline: none;
    border-color: #99f;
    box-shadow: 0 0 5px #99f;
}
.view .h1 { font-size:2em; color: #A5B; }
.view h2::before { color: #BBB;content: "#  "; font: bold 0.95em arial,sans-serif; }
.view h3::before { color: #BBB;content: "##  "; font: bold 0.95em arial,sans-serif; }
.view h4::before { color: #BBB;content: "###  "; font: bold 0.95em arial,sans-serif; }
.view h5 { margin-left: 60px;}

.view h1 { font-size:2em; color: #A5B; }
.view h2 { font-size:1.5em; color: #BB8; }
.view h3 { font-size:1.25em; color: #AC4; }
